.TodoFilter{ 
    display: flex;
    margin: 25px auto;
    grid-gap: 10px;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.TodoFilter button{
    padding: 5px 15px;
    font-size: 1.1rem;
    display: flex;
    font-weight: bold;
    flex-wrap: nowrap;
    align-items: center;
    
}
.TodoFilter button .icon{
    font-size: 2rem;
    padding: 5px;
    color: #024959;
    display: flex;
    
}